/* Header */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 1rem;
}

/* Product */

.card-container {
  padding-bottom: 15px;
  cursor: pointer;
  text-decoration: none;
  color: unset;
}

.product-info {
  padding-left: 8px;
  padding-right: 8px;
}

.product-date {
  font-size: 10px;
  font-weight: 300;
  color: #888888;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product-title {
  font-size: 12px;
  font-weight: 600;
}

.product-views,
.product-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;
}

.orange {
  color: #E57601;
}

.green {
  color: #278717;
}

.red {
  color: #F32B2B;
}

.yellow {
  color: #F3C107;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.product-image-container {
  position: relative;
  width: 176.5px;
  height: 246px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* Bottom Nav */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-top: 1px solid #ddd;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #777;
  text-decoration: none;
}

.nav-item i {
  font-size: 20px;
}

.nav-item span {
  margin-top: 5px;
  font-size: 12px;
}

.nav-item:first-child {
  color: orange;
}

.nav-item:first-child i {
  color: orange;
}


/* Image Carousel */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}

.pagination {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}